body {
  background-color: rgb(110, 135, 130);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.picture {
  /* Picture */
  background-image: url(../images/DSC_0124.jpg);
  border: 10px solid rgba(255, 255, 255, 1);
  background-size: cover;
  border-width: cover;
  image-resolution: from-image;
  background-repeat: no-repeat;
  background-position: center;
  padding: 32vw;
  margin-top: 75px;
  margin-left: 5vw;
  margin-right: 5vw;
  z-index: -1;
}

.titleName {
  /* Font */
  font-weight: bold;
  font-size: 4vw;
  letter-spacing: 1.0rem;
  color: rgb(250, 250, 250);
  text-shadow: 0.5vw 0.5vw rgba(0, 0, 0, 0.5);
  text-align: center;
}

.aboutSection {
  background-color: white;
  font-weight: bold;
  font-size: 2vw;
  color: rgb(110, 135, 130);
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.contactSection {
  background-color: white;
  font-weight: bold;
  font-size: 2vw;
  letter-spacing: 1vw;
  color: rgb(110, 135, 130);
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

h1 {
  /* Font */
  font-weight: bold;
  font-size: 3vw;
  letter-spacing: 2vw;
  color: rgb(110, 135, 130);
  text-align: center;
}

.projectSection {
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.projectSection > h1 {
  font-weight: bold;
  font-size: 3vw;
  letter-spacing: 2vw;
  color: rgb(250, 250, 250);
  text-align: center;
}

background-image {
  border: 10px solid rgba(255, 255, 255, 1);
}

.emailAddress:hover {
  text-decoration: none;
  font-weight: bold;
}

.gitHub:hover {
  text-decoration: none;
  font-weight: bold;
}

.resumeDownload:hover {
  text-decoration: none;
  font-weight: bold;
}
