body {
  background-color: rgb(110, 135, 130);
}

.navbar {
  /* Navigation Bar */
  position: fixed;
  top: 0;
  width: 100%;
}

.picture {
    /* Picture */
    display: block;
    margin-top: 75px;
    width: 42vw;
    height: 42vw;
    border: 10px solid #f8f9fa;
    margin-left: auto;
    margin-right: auto;
}

.titleName {
    /* Font */
    font-weight: bold;
    font-size: 5vw;
    letter-spacing: 1.0rem;
    color: rgb(248, 248, 248);
    text-shadow: 0.5vw 0.5vw rgba(0, 0, 0, 0.5);
    text-align: center;
}

#aboutSection {
  background-color: #f8f9fa;
  font-weight: bold;
  font-size: 15px;
  color: rgb(110, 135, 130);
  text-align: center;
  padding: 3vw;
}

h1 {
  font-weight: bold;
  font-size: 5vw;
  letter-spacing: 2vw;
  color: rgb(110, 135, 130);
  text-align: center;
}

#projectSection {
  padding: 3vw;
}

#projectSection > h1 {
  color: #f8f9fa;
}

.right {
  font-size: 15px;
  color: #f8f9fa;
  text-align: right;
}

.left {
    font-size: 15px;
    color: #f8f9fa;
    text-align: left;
}

.oracleCertified {
  display: block;
  width:8vw;
  height:8vw;
  margin-left: auto;
  margin-right: auto;
}

.inline-block {
   display: inline-block;
}

.logo {
  display: block;
  width:5vw;
  height:5vw;
}

#AWSlogo {
  display: block;
  width:9vw;
  height:5vw;
}

#Javalogo, #JPAlogo {
  display: block;
  width:3vw;
  height:5vw;
}

#CSSlogo {
  display: block;
  width:3.5vw;
  height:5vw;
}

#RESTlogo {
  display: block;
  width:4vw;
  height:4vw;
}

.rightImage {
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: 0px;
    border: 5px solid #f8f9fa;
    text-align: right;
}

.leftImage {
    display: block;
    width: 250px;
    height: 250px;
    margin-left: 0px;
    margin-right: auto;
    border: 5px solid #f8f9fa;
    text-align: left;
}

.leftHeader {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: #f8f9fa;
    text-align: left;
}

.rightHeader {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: #f8f9fa;
    text-align: right;
}

.leftHeader:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #f8f9fa;
}

.rightHeader:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #f8f9fa;
}

background-image {
  border: 10px solid #f8f9fa;
}

#contactSection {
    background-color: #f8f9fa;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5vw;
    color: rgb(110, 135, 130);
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 3vw;
}

a:hover {
  text-decoration: none;
}
