body {
  background-color: rgb(110, 135, 130);
}

.navbar {
  /* Navigation Bar */
  position: fixed;
  top: 0;
  width: 100%;
}

.picture {
  /* Picture */
  background-image: url(../images/DSC_0124.jpg);
  display: block;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid rgba(247, 247, 247, 1);
  background-size: cover;
  border-width: cover;
  image-resolution: from-image;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 22vw;
  padding-bottom: 22vw;
  padding-left: 12vw;
  padding-right: 12vw;
  z-index: -1;
  margin-left: 15vw;
  margin-right: 15vw;
}

.titleName {
  /* Font */
  font-weight: bold;
  font-size: 4vw;
  letter-spacing: 1.0rem;
  color: rgb(248, 248, 248);
  text-shadow: 0.5vw 0.5vw rgba(0, 0, 0, 0.5);
  text-align: center;
}

#aboutSection {
  background-color: rgb(248, 248, 248);
  font-weight: bold;
  font-size: 2vw;
  color: rgb(110, 135, 130);
  text-align: center;
  padding: 3vw;
  padding-top: 60px;
}

h1 {
  font-weight: bold;
  font-size: 3vw;
  letter-spacing: 2vw;
  color: rgb(110, 135, 130);
  text-align: center;
}

#projectSection {
  padding: 3vw;
  padding-top: 60px;
}

#projectSection > h1 {
  color: rgb(248, 248, 248);
}

.right {
  font-size: 1.5vw;
  color: rgb(248, 248, 248);
  text-align: right;
}

.left {
  font-size: 1.5vw;
  color: rgb(248, 248, 248);
  text-align: left;
}

.oracleCertified {
  display: block;
  width:8vw;
  height:8vw;
  margin-left: auto;
  margin-right: auto;
}

.inline-block {
   display: inline-block;
}

.logo {
  display: block;
  width:5vw;
  height:5vw;
}

#AWSlogo {
  display: block;
  width:9vw;
  height:5vw;
}

#Javalogo, #JPAlogo {
  display: block;
  width:3vw;
  height:5vw;
}

#CSSlogo {
  display: block;
  width:3.5vw;
  height:5vw;
}

#RESTlogo {
  display: block;
  width:4vw;
  height:4vw;
}

.rightImage {
  display: block;
  width:15vw;
  height:15vw;
  margin-left: auto;
  margin-right: 0px;
  border: 5px solid rgba(247, 247, 247, 1);
  text-align: right;
}

.leftImage {
  display: block;
  width:15vw;
  height:15vw;
  margin-left: 0px;
  margin-right: auto;
  border: 5px solid rgba(247, 247, 247, 1);
  text-align: left;
}

.leftHeader {
  font-size: 2vw;
  text-decoration: none;
  font-weight: bold;
  color: rgb(248, 248, 248);
  text-align: left;
}

.rightHeader {
  font-size: 2vw;
  text-decoration: none;
  font-weight: bold;
  color: rgb(248, 248, 248);
  text-align: right;
}

.leftHeader:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(248, 248, 248);
}

.rightHeader:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(248, 248, 248);
}

background-image {
  border: 10px solid rgba(247, 247, 247, 1);
}

#contactSection {
  background-color: rgb(248, 248, 248);
  font-weight: bold;
  font-size: 2vw;
  letter-spacing: 0.5vw;
  color: rgb(110, 135, 130);
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 3vw;
}

a:hover {
  text-decoration: none;
}
